body{
  font-family: 'Montserrat', sans-serif;
}

/* BRAND */
/* .navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
} */
/* NAVLINKS */

.navbar-light {
    letter-spacing: 0.3rem;
    margin:25px;

}

.button-custom {
  background: black;
  color:white;
  padding:1rem;
  border:1px solid white;
  text-decoration: none;
}

.button-custom:hover {
  color:white;
  text-decoration: none;
}


.synedrio{
/* background:url('https://images.unsplash.com/photo-1483871788521-4f224a86e166?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2689&q=80');
background-position:
z-index: 0;
height: 70%;
width:100%; */
}
.synedrio-inner{
/* padding-top: 2rem;
  /* background-color: white; */
  /* z-index: 100; */ */
}
.omilies{
  padding:10rem;
}
